<!DOCTYPE html>
<html class="x-admin-sm">
    
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="__ADM__css/font.css">
        <link rel="stylesheet" href="__ADM__css/xadmin.css">
        <script type="text/javascript" src="__ADM__lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="__ADM__js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                  <div class="layui-form-item">
                      <label for="username" class="layui-form-label">
                          <span class="x-red">*</span>规则分类
                      </label>
                      <div class="layui-inline layui-show-xs-block">
                          <select  lay-filter="admincate_id" name="admincate_id">
                            {volist name="cate" id="vo"}
                              <option value="{$vo.id}" 
                              {eq name="$vo.id" value="$res.admincate_id"}selected{/eq}
                              >{$vo.name}</option>
                            {/volist}
                          </select>
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <label for="phone" class="layui-form-label">
                          <span class="x-red">*</span>请求控制器
                      </label>
                      <div class="layui-inline layui-show-xs-block">
                          <select name="controller">
                            {volist name="conname" id="vo"}
                              <option value="{$vo}" 
                              <?php if(substr($res['url'],0,strpos($res['url'], '/'))==$vo){echo "selected";}?>
                              >{$vo}</option>
                            {/volist}
                          </select>
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <label for="L_email" class="layui-form-label">
                          <span class="x-red">*</span>请求方法
                      </label>
                      <div class="layui-input-inline">
                          <input type="text" value="<?php echo trim(strrchr($res['url'],'/'),'/'); ?>" id="L_repass" name="action" required="" lay-verify="name" autocomplete="off" class="layui-input">
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <label for="L_repass" class="layui-form-label">
                          <span class="x-red">*</span>权限名称
                      </label>
                      <div class="layui-input-inline">
                          <input type="text" value="{$res.name}" id="L_repass" name="name" required="" lay-verify="name"
                          autocomplete="off" class="layui-input">
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <label for="L_repass" class="layui-form-label">
                          <span class="x-red">*</span>父级模块
                      </label>
                      <div class="layui-inline layui-show-xs-block">
                          <select name="pid">
                            <option value="0">模块列表</option>
                            {volist name="rule" id="vo"}
                              <option value="{$vo.id}" {eq name="$vo.id" value="$res.pid"}selected{/eq}>Ⅱ {$vo.name}</option>
                            {/volist}
                          </select>
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <label for="L_repass" class="layui-form-label">
                          <span class="x-red">*</span>类型
                      </label>
                      <div class="layui-inline layui-show-xs-block">
                          <select name="level">
                            <option value="1" {eq name="$res.level" value="1"}selected{/eq}>模块</option>
                            <option value="2" {eq name="$res.level" value="2"}selected{/eq}>操作</option>
                          </select>
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <label for="L_repass" class="layui-form-label">
                      </label>
                      <button  class="layui-btn" lay-filter="upd" lay-submit="">
                          提交
                      </button>
                  </div>
              </form>
            </div>
        </div>
        <script>layui.use(['form', 'layer'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;

                //自定义验证规则
                form.verify({
                    nikename: function(value) {
                        if (value.length < 5) {
                            return '昵称至少得5个字符啊';
                        }
                    },
                    pass: [/(.+){6,12}$/, '密码必须6到12位'],
                    repass: function(value) {
                        if ($('#L_pass').val() != $('#L_repass').val()) {
                            return '两次密码不一致';
                        }
                    }
                });

                //监听提交
                form.on('submit(upd)',
                function(data) {
                    $.ajax({
                      type:"post",
                      url:"{:url('upd')}",
                      data:{"data":data.field,"id":{$res.id}},
                      success:function(msg){
                        // console.log(msg);
                        if(msg!=false){
                          layer.alert("修改成功", {
                                icon: 6
                            },
                            function() {
                                //刷新页面
                                window.parent.location.reload();
                            }); 
                        }else{
                          layer.alert("修改失败", {
                                icon: 5
                            },
                            function() {
                                //刷新页面
                                window.parent.location.reload();
                            });
                        }
                      },
                      error:function(e){
                        layer.alert("系统错误，请刷新页面后重新添加", {
                            icon: 7
                        },
                        function() {
                            //刷新页面
                            window.parent.location.reload();
                        }); 
                      }
                    });
                    return false;
                });

            });</script>

    </body>

</html>
