<!DOCTYPE html>
<html class="x-admin-sm">
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="__ADM__css/font.css">
    <link rel="stylesheet" href="__ADM__css/xadmin.css">
    <script type="text/javascript" src="__ADM__lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__ADM__js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="layui-fluid">
        <div class="layui-row">
            <form action="" method="post" class="layui-form layui-form-pane">
                <div class="layui-form-item">
                    <label for="name" class="layui-form-label">
                        <span class="x-red">*</span>角色名
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="name" name="name" required="" lay-verify="required"
                        autocomplete="off" class="layui-input" value="{$res.name}">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">
                        拥有权限
                    </label>
                    <table  class="layui-table layui-input-block">
                        <tbody>
                            {volist name="admincate" id="vo"}
                            <tr>
                                <td>
                                    <input class="cate" type="checkbox" name="cate" lay-skin="primary" lay-filter="father" value="{$vo.id}" title="{$vo.name}"
                                    <?php
                                        if(in_array($vo['id'],explode(',',$res['admincate_id']))){
                                              echo "checked";
                                          }
                                      ?>
                                    >
                                </td>
                                <td>
                                    <div class="layui-input-block">
                                    {volist name="vo.rule" id="vk"}
                                    <p>
                                            <input class="rule" name="id" lay-skin="primary" lay-filter="rule" type="checkbox" value="{$vk.id},{$vk.level}" title="{$vk.name}"
                                                    {volist name="access" id="value"}
                                                        <?php if(in_array($vk['id'],explode(',',$value['rule_id']))){
                                                              echo "checked";
                                                          }?>
                                                    {/volist}
                                            > 
                                        {volist name="vk.param" id="vl"}
                                            <span><input class="role" name="id" lay-skin="primary" lay-filter="role" type="checkbox" value="{$vl.id},{$vl.level}" title="{$vl.name}"
                                                    {volist name="access" id="value"}
                                                        <?php if(in_array($vl['id'],explode(',',$value['rule_id']))){
                                                              echo "checked";
                                                          }?>
                                                    {/volist}
                                                ></span>
                                        {/volist}
                                    </p>
                                    {/volist}
                                    </div>
                                </td>
                                    
                            </tr>
                            {/volist}
                        </tbody>
                    </table>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label for="desc" class="layui-form-label">
                        描述
                    </label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容" id="desc" name="desc" class="layui-textarea">{$res.desc}</textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                <button class="layui-btn" lay-submit="" lay-filter="upd">提交</button>
              </div>
            </form>
        </div>
    </div>
    <script>
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer;
        
          //自定义验证规则
          form.verify({
            nikename: function(value){
              if(value.length < 5){
                return '昵称至少得5个字符啊';
              }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,repass: function(value){
                if($('#L_pass').val()!=$('#L_repass').val()){
                    return '两次密码不一致';
                }
            }
          });

          //监听提交
          form.on('submit(upd)', function(data){
            var cate = new Array(); //定义一个数组存储id
            var box = $("input[name=cate]:checked").each(function(j) {
                cate.push($(this).val()); // 把值存入数组里面
            });
            data.field['cate'] = cate;
            var id = new Array(); //定义一个数组存储id
            var box = $("input[name=id]:checked").each(function(j) {
                id.push($(this).val()); // 把值存入数组里面
            });
            data.field['id'] = id;
            //发异步，把数据提交给php
            $.ajax({
                type:"post",
                url:"{:url('upd')}",
                data:{"data":data.field,"id":{$res.id}},
                jsonType:"json",
                success:function(a){
                    // console.log(a);
                    // alert(a);
                    if(a != false){
                        layer.alert("修改成功", {
                                icon: 6
                            },
                            function() {
                                //刷新页面
                                window.parent.location.reload();
                            });  
                    }else{
                        layer.alert("修改失败", {
                                icon: 5
                            },
                            function() {
                                //刷新页面
                                window.parent.location.reload();
                            });  
                    }
                },
                error:function(e){
                    layer.alert("系统错误，请刷新页面后重新添加", {
                          icon: 7
                      },
                      function() {
                          //刷新页面
                          window.parent.location.reload();
                      }); 
                }


            });
            return false;
          });


        form.on('checkbox(father)', function(data){
            if(data.elem.checked){
                $(data.elem).parent().siblings('td').find('input').prop("checked", true);
                form.render(); 
            }else{
               $(data.elem).parent().siblings('td').find('input').prop("checked", false);
                form.render();  
            }
        });
        form.on('checkbox(rule)', function(data){
            if(data.elem.checked){
                $(data.elem).siblings('span').find('input').prop("checked", true);
                $(data.elem).parent().parent().parent().siblings('td').find('input').prop("checked",true);
                form.render(); 
            }else{
                $(data.elem).siblings('span').find('input').prop("checked", false);
                form.render();
            }
        });
        form.on('checkbox(role)', function(data){
            if(data.elem.checked){
                $(data.elem).prop("checked", true);
                $(data.elem).parent().siblings('input').prop("checked", true);
                $(data.elem).parent().parent().parent().parent().siblings('td').find('input').prop("checked",true);
                form.render(); 
            }else{
                form.render();  
            }
        });
          
        });
    </script>

  </body>

</html>