<!DOCTYPE html>
<html class="x-admin-sm">
    
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="__ADM__css/font.css">
        <link rel="stylesheet" href="__ADM__css/xadmin.css">
        <script type="text/javascript" src="__ADM__lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="__ADM__js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
                <!--百度编辑器-->
      <script type="text/javascript" charset="utf-8" src="__ADM__ueditor/ueditor.config.js"></script>
      <script type="text/javascript" charset="utf-8" src="__ADM__ueditor/ueditor.all.min.js"> </script>
      <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
      <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
      <script type="text/javascript" charset="utf-8" src="__ADM__ueditor/lang/zh-cn/zh-cn.js"></script>
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form" enctype="multipart/form-data">
                  <div class="layui-form-item">
                      <label for="title" class="layui-form-label">
                          <span class="x-red">*</span>商品名称
                      </label>
                      <div class="layui-input-inline">
                          <input type="text" id="title" name="title" lay-verify=""
                          autocomplete="off" class="layui-input">
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <label for="cost" class="layui-form-label">
                          <span class="x-red">*</span>商品成本
                      </label>
                      <div class="layui-input-inline">
                          <input type="number" id="cost" name="cost" lay-verify="cost"
                          autocomplete="off" class="layui-input">
                      </div>
                      <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>以元为单位
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <label for="price" class="layui-form-label">
                          <span class="x-red">*</span>商品售出价格
                      </label>
                      <div class="layui-input-inline">
                          <input type="number" id="price" name="price" lay-verify="price"
                          autocomplete="off" class="layui-input">
                      </div>
                      <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>以元为单位
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <label for="weight" class="layui-form-label">
                          <span class="x-red">*</span>商品重量
                      </label>
                      <div class="layui-input-inline">
                          <input type="number" id="weight" name="weight" lay-verify="weight"
                          autocomplete="off" class="layui-input">
                      </div>
                      <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>以g为单位
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <label for="inventory" class="layui-form-label">
                          <span class="x-red">*</span>商品库存
                      </label>
                      <div class="layui-input-inline">
                          <input type="number" id="inventory" name="inventory" lay-verify="inventory"
                          autocomplete="off" class="layui-input">
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <label for="price" class="layui-form-label">
                          <span class="x-red">*</span>商品是否上架
                      </label>
                      <div class="layui-input-inline">
                          <select name="putaway">
                              <option value="1">商品是否上架</option>
                              <option value="1">上架</option>
                              <option value="0">下架</option> 
                          </select>
                      </div>
                      <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>默认为上架
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <label for="provider_id" class="layui-form-label">
                          <span class="x-red">*</span>商品供货商
                      </label>
                      <div class="layui-input-inline">
                          <select name="provider_id">
                              <option value="">商品供货商</option>
                              {volist name="provider" id="vo"}
                                <option value="{$vo.id}">{$vo.name}</option>
                              {/volist}

                          </select>
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <label for="cate_id" class="layui-form-label">
                          <span class="x-red">*</span>商品所属分类
                      </label>
                      <div class="layui-input-inline">
                          <select name="cate_id">
                              <option value="">商品所属分类</option>
                              {volist name="cate" id="vo"}
                                <option value="{$vo.id}">Ⅰ{$vo.name}</option>
                                {volist name="vo.child" id="vk"}
                                  <option value="{$vk.id}">Ⅱ&nbsp;&nbsp;{$vk.name}</option>
                                  {volist name="vk.child" id="vl"}
                                    <option value="{$vl.id}">Ⅲ&nbsp;&nbsp;&nbsp;{$vl.name}</option>
                                  {/volist}
                                {/volist}
                              {/volist}
                          </select>
                      </div>
                      <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>Ⅰ为顶级分类下面对应着二级跟三级分类;
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <label for="attr_id" class="layui-form-label">
                          <span class="x-red">*</span>商品属性
                      </label>
                      <div class="layui-input-inline">
                        {volist name="attr" id="vo"}
                          <input type="checkbox" name="attr_id[]" value="{$vo.id}" title="{$vo.name}">
                        {/volist}
                      </div>
                      <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>选择该商品拥有的属性;
                      </div>
                  </div>
                  <div class="layui-form-item">
                      <label for="pic" class="layui-form-label">
                          <span class="x-red">*</span>商品图片
                      </label>
                      <div class="layui-input-inline">
                        <button type="button" class="layui-btn" id="pic">
                          <i class="layui-icon">&#xe67c;</i>上传图片
                        </button>
                      </div>
                      <div class="layui-form-mid layui-word-aux">
                        <img src="" id="img" style="display:none;" width="20px" height="20px" title="点击预览图片" class="layui-upload-img" onclick="previewImg(this)">
                        选择图片后可在此点击图片进行预览
                      </div>
                  </div>
                  <!-- <div class="layui-form-item">
                      <label for="pic_bre" class="layui-form-label">
                          <span class="x-red">*</span>商品缩略图
                      </label>
                      <div class="layui-upload">
                          <button type="button" class="layui-btn" id="pic_bre">多图片上传</button> 最多10张图片
                          <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                            预览图：
                            <div class="layui-upload-list" id="pic_bre_img"></div>
                         </blockquote>
                      </div>
                  </div> -->
                  <div class="layui-form-item" style="margin-top:50px">
                      <label for="pic" class="layui-form-label">
                          <span class="x-red">*</span>商品描述
                      </label>
                      <div class="layui-input-inline" style="width:70%;">
                        <textarea id="editor" name="content" type="text/plain" style="width:100%;height:500px;margin:auto;"></textarea>
                      </div>
                  </div>
                  
                  <div class="layui-form-item" id="pic_add">
                      <label for="L_repass" class="layui-form-label">
                      </label>
                      <button  class="layui-btn" lay-filter="add" lay-submit="" id="add">
                          增加
                      </button>
                  </div>
              </form>
            </div>
        </div>
        <script>
            //实例化编辑器
          //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
          var ue = UE.getEditor('editor');
            // 预览图片
            function previewImg(obj) {
              var img = new Image();  
              img.src = obj.src;
              //var height = img.height + 50; // 原图片大小
              //var width = img.width; //原图片大小
              var imgHtml = "<img src='" + obj.src + "' width='500px' height='500px'/>";  
              //弹出层
              layer.open({  
                  type: 1,  
                  shade: 0.8,
                  offset: 'auto',
                  area: [500 + 'px',550+'px'],  // area: [width + 'px',height+'px']  //原图显示
                  shadeClose:true,
                  scrollbar: false,
                  title: "图片预览", //不显示标题  
                  content: imgHtml, //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响  
                  cancel: function () {  
                      //layer.msg('捕获就是从页面已经存在的元素上，包裹layer的结构', { time: 5000, icon: 6 });  
                  }  
              }); 
          }

           

          layui.use(['form', 'layer','upload'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                upload = layui.upload,
                layer = layui.layer;


                // //执行图片上传实例
                var uploadInst = upload.render({
                  elem: '#pic' //绑定元素
                  ,url: '{:url('add')}' //上传接口
                  ,auto: false
                  ,bindAction: '#add'
                  ,size: 2048
                  ,field:"pic"
                  ,choose: function(obj){
                    //预读本地文件示例，不支持ie8
                    obj.preview(function(index, file, result){
                      $('#img').attr('src', result).css("display","inline-block"); //图片链接（base64）直接将图片地址赋值给img的src属性
                    });

                  },done: function(res){
                    //上传完毕回调
                    console.log(res);
                  }
                  ,error: function(e){
                    //请求异常回调
                  }
                });

                // //多图片上传
                // var uploadall =upload.render({
                //   elem: '#pic_bre'
                //   ,url: '{:url('add')}'
                //   ,auto: false
                //   ,bindAction: '#pic_add'
                //   ,multiple: true
                //   ,number:10
                //   ,field:"pic_bre[]"
                //   ,choose: function(obj){
                //     //将每次选择的文件追加到文件队列
                //     var files = obj.pushFile();
                //     //预读本地文件示例，不支持ie8
                //     obj.preview(function(index, file, result){
                //       $('#pic_bre_img').append('<div id="container'+index+'" style="display:inline-block;width: 100px;height:140px;margin:0 10px 10px;"><img src="'+ result +'" alt="'+ file.name +'" style="width:100px;height:100px;" onclick="previewImg(this)" title="点击图片进行大图预览"><a href="javascript:;" id="upload_img_'+index+'" style="margin: 10px 0 0 28px;" class="layui-btn layui-btn-danger layui-btn-xs">删除</a></div>');
                //       //删除某图片
                //       $("#upload_img_" + index).bind('click', function () {
                //           delete files[index];
                //           $("#container"+index).remove();
                //       });
                //     });
                    
                //   }
                //   ,done: function(res){
                //     //上传完毕
                //     console.log(res);
                //   }
                // });

                

                //监听提交
                form.on('submit(add)',function(data) {
                    //发异步，把数据提交给php
                    // $.ajax({
                    //   type:"post",
                    //    url:"{:url('add')}",
                    //    data:{'data':data.field},
                    //    jsonType:"json",
                    //    success:function(a){
                    //      console.log(a);
                    //      // if(a==true){
                    //      //    layer.alert("添加成功", {
                    //      //        icon: 6
                    //      //    },
                    //      //    function() {
                    //      //        //关闭当前窗口
                    //      //        layer.close(layer.index);
                    //      //        //刷新页面
                    //      //        window.parent.location.reload();
                    //      //    });  
                    //      // }else if (a==false){
                    //      //  layer.alert("用户名已存在", {
                    //      //        icon: 5
                    //      //    });  
                    //      // }else{
                    //      //    layer.alert(a, {
                    //      //        icon: 5
                    //      //    });
                    //      // }
                          
                    //    },
                    //    error:function(e){
                    //         layer.alert("系统错误，请刷新页面后重新添加", {
                    //             icon: 7
                    //         },
                    //         function() {
                    //             //关闭当前窗口
                    //             layer.close(layer.index);
                    //             //刷新页面
                    //             window.parent.location.reload();
                    //         }); 
                    //     }
                    // });
                    return false;
                });

            });</script>

    </body>

</html>
